{% load static %}
<link rel="stylesheet"  type="text/css" media='screen' href="{% static "styles/main.css" %}">
{% block content %}
<p>this a  password changed  page.</p>
<div id="user">
<form action="" method = "POST">
    <h1>Change Password</h1>
    {% csrf_token %}
    
    {% for field in form %}
    <div>
        <p>{{ field.label }}: <br> {{ field }}</p>
    </div>
    {% endfor %}


<button id="btn" type='submit'>Submit</button>

</form>

</div>
{% endblock content %}